docs

# Ignore everything in inst/tutorials
inst/tutorials/*

# But don't ignore .Rmd files anywhere in inst/tutorials
!inst/tutorials/**/*.Rmd

# Don't ignore data and images directories and their contents
!inst/tutorials/**/data/**
!inst/tutorials/**/images/**

# Need to unignore intermediate directories for traversal
!inst/tutorials/*/
