docs

# Ignore all subdirectories under inst/tutorials/
inst/tutorials/*/

# But un-ignore tutorial folders themselves
!inst/tutorials/*

# Un-ignore data and images subdirectories and all files within data/
!inst/tutorials/*/data/
!inst/tutorials/*/data/**

!inst/tutorials/*/images/
!inst/tutorials/*/*.Rmd
